<!DOCTYPE html>
{% set logLevelStyle = {
    100: {
    'icon': 'bug',
    'class' : 'debug'
    },
    200: {
    'icon': 'info-circle',
    'class' : 'info'
    },
    250: {
    'icon': 'file-text',
    'class' : 'notice'
    },
    300: {
    'icon': 'warning',
    'class' : 'warning'
    },
    400: {
    'icon': 'times-circle',
    'class' : 'error'
    },
    500: {
    'icon': 'fire',
    'class' : 'critical'
    },
    550: {
    'icon': 'bell',
    'class' : 'alert'
    },
    600: {
    'icon': 'flash',
    'class' : 'emergency'
    }
} %}
<html>
<head>
    <title>{% block title %}Syonix Monolog Viewer{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <!-- Bootstrap -->
    <link href="{{ app.request.baseUrl }}/web/res/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="http://cdn.syonix.ch/fonts/flexo/1.0/flexo.css" rel="stylesheet" media="screen">
    <link href="http://cdn.syonix.ch/fonts/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="http://cdn.syonix.ch/js/slidebars/0.10.2/slidebars.min.css" rel="stylesheet">
    <link href="{{ app.request.baseUrl }}/web/css/screen.css" rel="stylesheet" media="screen">
    <link href="{{ app.request.baseUrl }}/web/css/790.css" rel="stylesheet" media="screen">
    <link href="{{ app.request.baseUrl }}/web/css/960.css" rel="stylesheet" media="screen">

    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" href="{{ app.request.baseUrl }}/web/img/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ app.request.baseUrl }}/web/img/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ app.request.baseUrl }}/web/img/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ app.request.baseUrl }}/web/img/touch-icon-ipad-retina.png">

    <!-- Web App Tags -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Log Viewer">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- iPad retina portrait startup image -->
    <link href="{{ app.template_url }}/img/apple-touch-startup-image-1536x2008.png"
          media="(device-width: 768px) and (device-height: 1024px)
             and (-webkit-device-pixel-ratio: 2)
             and (orientation: portrait)"
          rel="apple-touch-startup-image">
    <!-- iPad retina landscape startup image -->
    <link href="{{ app.template_url }}/img/apple-touch-startup-image-1496x2048.png"
          media="(device-width: 768px) and (device-height: 1024px)
             and (-webkit-device-pixel-ratio: 2)
             and (orientation: landscape)"
          rel="apple-touch-startup-image">
    <!-- iPad non-retina portrait startup image -->
    <link href="{{ app.template_url }}/img/apple-touch-startup-image-768x1004.png"
          media="(device-width: 768px) and (device-height: 1024px)
             and (-webkit-device-pixel-ratio: 1)
             and (orientation: portrait)"
          rel="apple-touch-startup-image">
    <!-- iPad non-retina landscape startup image -->
    <link href="{{ app.template_url }}/img/apple-touch-startup-image-748x1024.png"
          media="(device-width: 768px) and (device-height: 1024px)
             and (-webkit-device-pixel-ratio: 1)
             and (orientation: landscape)"
          rel="apple-touch-startup-image">
    <!-- iPhone 6 Plus portrait startup image -->
    <link href="{{ app.template_url }}/img/apple-touch-startup-image-1242x2148.png"
          media="(device-width: 414px) and (device-height: 736px)
             and (-webkit-device-pixel-ratio: 3)
             and (orientation: portrait)"
          rel="apple-touch-startup-image">
    <!-- iPhone 6 Plus landscape startup image -->
    <link href="{{ app.template_url }}/img/apple-touch-startup-image-1182x2208.png"
          media="(device-width: 414px) and (device-height: 736px)
             and (-webkit-device-pixel-ratio: 3)
             and (orientation: landscape)"
          rel="apple-touch-startup-image">
    <!-- iPhone 6 startup image -->
    <link href="{{ app.template_url }}/img/apple-touch-startup-image-750x1294.png"
          media="(device-width: 375px) and (device-height: 667px)
             and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">
    <!-- iPhone 5 startup image -->
    <link href="{{ app.template_url }}/img/apple-touch-startup-image-640x1096.png"
          media="(device-width: 320px) and (device-height: 568px)
             and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">
    <!-- iPhone < 5 retina startup image -->
    <link href="{{ app.template_url }}/img/apple-touch-startup-image-640x920.png"
          media="(device-width: 320px) and (device-height: 480px)
             and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">
    <!-- iPhone < 5 non-retina startup image -->
    <link href="{{ app.template_url }}/img/apple-touch-startup-image-320x460.png"
          media="(device-width: 320px) and (device-height: 480px)
             and (-webkit-device-pixel-ratio: 1)"
          rel="apple-touch-startup-image">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ app.template_url }}/favicon.ico"/>
</head>
<body>
{% block body %}
{% block navigation_wrapper %}
    <nav id="navigation" class="sb-slidebar sb-left sb-momentum-scrolling">
    {% block navigation %}{% endblock %}
</nav>
{% endblock %}
<div id="sb-site">
    <header id="header" class="clearfix">
        {% block header %}
        <a href="{{ path("home") }}"><img class="logo" src="{{ app.request.baseUrl }}/web/img/logo.png" alt="Syonix" width="102" height="32"></a>
        {% endblock %}
    </header>
    {% block content_wrap %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <header id="logs">
            {% block logslist %}{% endblock %}
        </header>
    {% endblock %}
</div>
<div id="filter-menu" class="sb-slidebar sb-right sb-momentum-scrolling">
    {% block filter_sidebar %}{% endblock %}
</div>
{% endblock %}
{% block scripts %}
    <script src="{{ app.request.baseUrl }}/web/res/jquery/jquery-2.0.3.min.js"></script>
    <script src="{{ app.request.baseUrl }}/web/res/jquery/jquery.stayInWebApp.min.js"></script>
    <script src="http://cdn.syonix.ch/js/slidebars/0.10.2/slidebars.min.js"></script>
    <script src="{{ app.request.baseUrl }}/web/res/retina.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $.stayInWebApp();
            $.slidebars({
                disableOver: 790
            });
            $(".show-if-js").removeClass('show-if-js');
            $(".hide-if-js").hide();
        });
    </script>
{% endblock %}
</body>
</html>
