{% extends "base.html.twig" %}
{% block header %}
    <a href="javascript:void(0)" class="toggle-button sb-toggle-left"><i class="fa fa-bars"></i></a>
    <a href="{{ app.request.baseUrl }}"><img class="logo" src="{{ app.request.baseUrl }}/web/img/logo.png" alt="Syonix" width="102" height="32"></a>
    <a href="javascript:void(0)" class="toggle-button sb-toggle-right"><i class="fa fa-filter"></i></a>
    <a href="javascript:void(0)" class="toggle-button scroll-down" onclick="$('#content').animate({ scrollTop: $('#content').prop('scrollHeight') - $('#content').height() }, 500); return false;"><i class="fa fa-arrow-circle-down"></i></a>
{% endblock %}
{% block navigation %}{% include "components/navigation.html.twig" %}{% endblock %}
{% block logslist %}
    <ul>
        <li class="filter-dropdown pull-right{% if min_log_level > 100 %} active{% endif %} hide-if-mobile"><i class="fa fa-lg fa-filter"></i> Minimal Log Level <i id="filter-form-arrow" class="fa fa-chevron-down"></i>
            <div class="dropdown">
                {% for name, value in logLevels %}
                    {% if value > 100 %}
                        {% set href = path('log', {'clientSlug': current_client_slug, 'logSlug': current_log_slug, 'm': value, 'l': current_logger }) %}
                    {% else %}
                        {% set href = path('log', {'clientSlug': current_client_slug, 'logSlug': current_log_slug, 'l': current_logger}) %}
                    {% endif %}
                    <a href="{{ href }}"{% if value < min_log_level %} class="lower"{% endif %}><i class="fa fa-fw fa-{{ logLevelStyle[value].icon }}"></i> {{ name }}</a>
                {% endfor %}
            </div>
        </li>
        <li class="filter-dropdown pull-right{% if min_log_level > 100 %} active{% endif %} hide-if-mobile"><i class="fa fa-lg fa-filter"></i> Channel <i id="filter-form-arrow" class="fa fa-chevron-down"></i>
            <div class="dropdown">
                {% if value > 100 %}
                    {% set href = path('log', {'clientSlug': current_client_slug, 'logSlug': current_log_slug, 'm': min_log_level }) %}
                {% else %}
                    {% set href = path('log', {'clientSlug': current_client_slug, 'logSlug': current_log_slug}) %}
                {% endif %}
                <a {% if current_logger != logger %} class="lower"{% endif %} href="{{ href }}"><i class="fa fa-fw fa-tag"></i> All</a>
                {% for logger in loggers %}
                    {% if value > 100 %}
                        {% set href = path('log', {'clientSlug': current_client_slug, 'logSlug': current_log_slug, 'm': min_log_level, 'l': logger }) %}
                    {% else %}
                        {% set href = path('log', {'clientSlug': current_client_slug, 'logSlug': current_log_slug, 'l': logger}) %}
                    {% endif %}
                    <a {% if current_logger != logger %} class="lower"{% endif %} href="{{ href }}"><i class="fa fa-fw fa-tag"></i> {{ logger }}</a>
                {% endfor %}
            </div>
        </li>
        <li id="jump-to-newest" class="pull-right hide-if-mobile"><a href="#" onclick="$('#content').animate({ scrollTop: $('#content').prop('scrollHeight') - $('#content').height() }, 500); return false;"><i class="fa fa-lg fa-arrow-circle-down"></i> Newest entry</a></li>
        <li id="filter-text" class="pull-right show-if-js">
            <div id="filter-text-wrap">
                <i class="fa fa-lg fa-search"></i>
                <input type="text" id="filter-query">
                <a id="filter-text-reset" href="javascript:void(0)" onclick="filterContentReset();"><i class="fa fa-lg fa-times-circle"></i></a>
            </div>
        </li>
    </ul>
{% endblock %}
{% block content %}
    <div id="filter-meta">Displaying <span id="filter-count">{{ log.countlines }}</span> of {{ log.countlines }} lines due to your filter(s).</div>
    <table id="logline-table">
    {% for id,line in log.lines if constant('Monolog\\Logger::' ~ line.level) >= min_log_level and (current_logger is null or current_logger == line.logger) %}
        {% set level = constant('Monolog\\Logger::' ~ line.level) %}
        <tr class="logline level-{{ logLevelStyle[level].class }}">
            <td class="level"><i class="fa fa-{{ logLevelStyle[level].icon }} fa-fw"></i></td>
            <td class="date">{{ line.date|date(app.config.dateFormat) }}</td>
            <td class="message clearfix{% if line.context|length > 0 %} has-more" onclick="toggleMore({{ id + 1 }});{% endif %}">
                {{ line.message }}
                {% if line.context|length > 0 %}
                    <div class="context" id="context-{{ id + 1 }}">
                        <table>
                            {% for title, content in line.context %}
                                <tr><th>{{ title }}</th><td>{{ content|nl2br }}</td></tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}
            </td>
            {% if app.config.display_logger %}<td class="logger"><i class="fa fa-tag"></i> {{ line.logger }}</td>{% endif %}
            {% if line.context|length > 0 %}
                <td class="more" id="more-{{ id + 1 }}" onclick="toggleMore({{ id + 1 }});"><i class="fa fa-plus-circle"></i></td>
            {% else %}
                <td class="more"></td>
            {% endif %}
        </tr>
    {% else %}
        <tr class="logline clearfix level-info">
            <div class="level level-info">
                <i class="fa fa-info-circle"></i>&nbsp;
            </div>
            <div class="message">
                {% if min_log_level > 100 %}
                    No log entries match your selection. <a href="{{ path('log', {'clientSlug': current_client_slug, 'logSlug': current_log_slug}) }}" class="reset-btn" ><i class="fa fa-times-circle-o"></i> Reset filter</a>
                {% else %}
                    This log file is empty
                {% endif %}
            </div>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
{% block filter_sidebar %}
    <ul>
        <li class="client">Minimal Log Level</li>
        {% for name, value in logLevels %}
            {% if value > 100 %}
                {% set href = path('log', {'clientSlug': current_client_slug, 'logSlug': current_log_slug, 'm': value, 'l': current_logger }) %}
            {% else %}
                {% set href = path('log', {'clientSlug': current_client_slug, 'logSlug': current_log_slug, 'l': current_logger}) %}
            {% endif %}
            <li{% if value < min_log_level %} class="lower"{% elseif value == min_log_level %} class="active turquoise"{% endif %}>
                <a href="{{ href }}"><i class="fa fa-fw fa-{{ logLevelStyle[value].icon }}"></i> {{ name }}</a>
            </li>
        {% endfor %}
        <li class="client">Logger</li>
        {% if value > 100 %}
            {% set href = path('log', {'clientSlug': current_client_slug, 'logSlug': current_log_slug, 'm': min_log_level }) %}
        {% else %}
            {% set href = path('log', {'clientSlug': current_client_slug, 'logSlug': current_log_slug}) %}
        {% endif %}
        <li{% if current_logger is null %} class="active turquoise"{% endif %}>
            <a href="{{ href }}"><i class="fa fa-fw fa-tag"></i> All</a>
        </li>
        {% for logger in loggers %}
            {% if value > 100 %}
                {% set href = path('log', {'clientSlug': current_client_slug, 'logSlug': current_log_slug, 'm': min_log_level, 'l': logger }) %}
            {% else %}
                {% set href = path('log', {'clientSlug': current_client_slug, 'logSlug': current_log_slug, 'l': logger}) %}
            {% endif %}
            <li{% if current_logger == logger %} class="active turquoise"{% endif %}>
                <a href="{{ href }}"><i class="fa fa-fw fa-tag"></i> {{ logger }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="{{ app.request.baseUrl }}/web/js/log.js"></script>
{% endblock %}
