{% extends "base.html.twig" %}
{% block header %}
    <a href="javascript:void(0)" class="toggle-button sb-toggle-left"><i class="fa fa-bars"></i></a>
    <a href="{{ app.request.baseUrl }}"><img class="logo" src="{{ app.request.baseUrl }}/web/img/logo.png" alt="Syonix" width="102" height="32"></a>
    <a href="javascript:void(0)" class="toggle-button sb-toggle-right"><i class="fa fa-filter"></i></a>
{% if not reverse_order %}<a href="javascript:void(0)" class="toggle-button scroll-down" onclick="$('#content').animate({ scrollTop: $('#content').prop('scrollHeight') - $('#content').height() }, 500); return false;"><i class="fa fa-arrow-circle-down"></i></a>{% endif %}
{% endblock %}
{% block navigation %}{% include "partials/navigation.html.twig" %}{% endblock %}
{% block logslist %}
    <ul>
        <li class="filter-dropdown pull-right hide-if-mobile"><i class="fa fa-lg fa-filter"></i> Minimal Log Level <i id="filter-form-arrow" class="fa fa-chevron-down"></i>
            <div class="dropdown">
                <a ng-repeat="(level, levelName) in levels" ng-class="{'lower': level < filter.level }"
                   href="javascript:void(0);" ng-click="filter.level = level">
                    <i class="fa fa-fw fa-{{ "{{ getLevelIcon(level) }}" }}"></i> {{ "{{ levelName.toUpperCase() }} " }}
                </a>
            </div>
        </li>
        <li class="filter-dropdown pull-right hide-if-mobile"><i class="fa fa-lg fa-filter"></i> Channel <i id="filter-form-arrow" class="fa fa-chevron-down"></i>
            <div class="dropdown">
                <a href="javascript:void(0);" ng-class="{'lower': null != filter.logger }"
                   ng-click="filter.logger = null"><i class="fa fa-fw fa-tag"></i> All</a>
                <a ng-repeat="logger in currentLog.loggers" ng-class="{'lower': logger != filter.logger }"
                   href="javascript:void(0);" ng-click="filter.logger = logger">
                    <i class="fa fa-fw fa-tag"></i> {{ "{{ logger }} " }}
                </a>
            </div>
        </li>
        {% if not reverse_order %}<li id="jump-to-newest" class="pull-right hide-if-mobile"><a href="javascript:void(0);"><i class="fa fa-lg fa-arrow-circle-down"></i> Newest entry</a></li>{% endif %}
        <li id="filter-text" class="pull-right">
            <div id="filter-text-wrap" ng-class="{wide: searchInputWide}">
                <i class="fa fa-fw fa-lg" ng-class="{'fa-search': !busySearch, 'fa-spinner fa-spin': busySearch}"></i>
                <input type="text" id="filter-query" ng-model="filter.text"
                       ng-trim="true" ng-focus="searchInputWide=true" ng-blur="searchInputWide=false">
                <a id="filter-text-reset" ng-show="filter.text.length > 0" ng-click="filter.text=null" href="javascript:void(0)"><i class="fa fa-lg fa-times-circle"></i></a>
            </div>
        </li>
    </ul>
{% endblock %}
{% block content_args %}ng-view{% endblock %}
{% block content %}{% endblock %}
{% block filter_sidebar %}
    <ul>
        <li class="client">Minimal Log Level</li>
        <li ng-repeat="(level, levelName) in levels" ng-class="{'lower': level < filter.level, 'active turquoise': level == filter.level }">
            <a href="javascript:void(0);" ng-click="filter.level = level">
                <i class="fa fa-fw fa-{{ "{{ getLevelIcon(level) }}" }}"></i> {{ "{{ levelName.toUpperCase() }} " }}
            </a>
        </li>
        <li class="client">Logger</li>
        <li ng-class="{'active purple': null == filter.logger }">
            <a href="javascript:void(0);" ng-click="filter.logger = null"><i class="fa fa-fw fa-tag"></i> All</a>
        </li>
        <li ng-repeat="logger in currentLog.loggers" ng-class="{'active purple': logger == filter.logger }">
            <a href="javascript:void(0);" ng-click="filter.logger = logger"><i class="fa fa-fw fa-tag"></i> {{ "{{ logger }} " }}</a>
        </li>
    </ul>
{% endblock %}
