{% extends "base.html.twig" %}
{% block title %}Error! - {{ parent() }}{% endblock %}
{% block navigation %}
    <ul>
        {% for slug, client in clients %}
            <li><a href="{{ app.request.baseUrl}}/logs/{{ slug }}">{{ client }}</a></li>
        {% else %}
            <!--<li>No Logs found.</li>-->
        {% endfor %}
    </ul>
{% endblock %}
{% block content %}
    <div class="error-message">
        <p><i class="fa fa-4x fa-warning error-icon"></i><br/><strong>Error!</strong></p>
        <p>{{ error.message }}</p>
        <p><a href="{{ app.request.baseUrl}}">Go to homepage</a></p>
    </div>
{% endblock %}
